<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lab04prototipo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lab04Prototipo">
        <activity android:name=".Asientos_activity"
            android:label="Selección de asientos">

        </activity>
        <activity android:name=".helper.CrudTipoAviones"></activity>
        <activity android:name=".helper.ListaVuelos"></activity>
        <activity android:name=".helper.MisReservas"></activity>
        <activity
            android:name=".MainNavigationDrawer"
            android:label="@string/title_activity_main_navigation_drawer"
            android:theme="@style/Theme.Lab04Prototipo.NoActionBar"></activity>
        <!--
    <activity
            android:name=".Registro"
            android:label="@string/title_activity_registro"
            android:theme="@style/Theme.Lab04Prototipo.NoActionBar">
        </activity>
        -->
        <activity
            android:name=".activities.Registro_activity"
            android:label="Registro">

        </activity>
        <activity
            android:name=".activities.Change_password"
            android:label="Cambio de contraseña">

        </activity>
        <activity
            android:name=".activities.Reserva_activity"
            android:label="Reserva">

        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>